@model IEnumerable<Product>
<div>
    <div class="spacer1">
    </div>
    <div>
<h2 class="startbathremod1">WELCOME TO THE BATH REMODEL ASSISTANT</h2>
        <div class="spacer1">
        </div>
   
<h3 class="startbathremod1">PLEASE SELECT YOUR FAUCET PREFERENCE</h3>
        <div class="spacer1">
        </div>
       @* <img src="~/images/230-09-026.jpg" height="100" width="100"/>*@
    
<div class="startbathremod2">
    <div>
                <img src="~/images/230-09-026.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodR026">Round - Polished Chrome</a>
    </div>   
    <div>
                <img src="~/images/230-09-015.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodR015">Round - Satin Nickel</a>
    </div>
    <div>
                <img src="~/images/230-09-040.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodR040">Round - Matte Black</a>
    </div>
    <div>
                <img src="~/images/230-09-004.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodR004">Round - Satin Brass</a>
    </div>
</div>

        <div class="spacer1">
        </div>
    

<div class="startbathremod2">
    <div>
                <img src="~/images/290L-06-026.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodS026">Square - Polished Chrome</a>
    </div>
    <div>
                <img src="~/images/290L-06-015.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodS015">Square - Satin Nickel</a>
    </div>
    <div>
                <img src="~/images/290L-06-040.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodS040">Square - Matte Black</a>
    </div>
    <div>
                <img src="~/images/290L-06-004.jpg" height="100" width="100" /><br>
<a asp-area="" asp-controller="Product" asp-action="BathRemodS004">Square - Satin Brass</a>
    </div>
    </div>

</div>





