@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />








<body class="background" background="images\showerimage.jpg">
    
    <h1 class="homehdr">BATH REMODEL ASSISTANT</h1>
     <p>A CRUDdy Truecoders.io final project!</p>
     <br>
     <p>Click on START to begin.</p>
     <br>
     <h3>

    <p><a class="text-black" asp-area="" asp-controller="Product" asp-action="BathRemod">START</a></p>

     </p>
     </h3>

</body>

   



